.article {
    padding: 0 20px;
}
.article h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 500;
    margin: 0.75rem 0 0.75rem 0;
}

.article h2 {
    font-size: 1.875rem;
    margin-bottom: 40px;
    position: relative;
}

.article h2:before {
    position: absolute;
    top: 1.2em;
    height: 0;
    width: 75px;
    content: '';
    border-top: 5px solid rgb(3,137, 201);
}
.article h3 {
    font-size: 1.5rem;
    margin: 40px 0 20px;
}
.article h4 {
    font-size: 1.25rem;
}
.article h5 {
    font-size: 1.125rem;
}

.article ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-inline-start: 32px;
    padding: 0px 16px 0px 32px;
    margin: 20px 0;
}

.article ul ul {
    margin: 0;
}

.article p {
    text-indent: 0px;
    margin-bottom: 0.75rem;
}

.article a {
    color: rgba(3, 137, 201, 1);
    font-weight: 800;
}

.article hr {
    margin : 20px 0;
}

.article img {
    border: 1px solid #DDD;
    padding: 0.375rem;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 4%);
}

.summary-link {
    display: block;
    cursor: pointer;
    margin-bottom: 0.3rem;
}

.summary-link:hover {
    font-weight: bold;
}

.fixed {
    position:fixed;
    top: 20px;
}